name: PipeLine CI/CD

on:
   push:
    branches:
     - main
permissions:
    id-token: write
    contents: read

jobs:
  job1:
      name: build_ecr
      runs-on: ubuntu-latest
      steps:
        - name: checkout
          uses: actions/checkout@v5.0.0


        - name: "Configure AWS Credentials"
          uses: aws-actions/configure-aws-credentials@v4.3.1
          with:
            role-to-assume: arn:aws:iam::355334485510:role/GitHubActiosRepSSH
            aws-region: us-east-2
        
        - name: 'Amazon ECR "Login" Action for GitHub Actions'
          uses: aws-actions/amazon-ecr-login@v2.0.1

        - name: build,tag and push image to ECR
          run: |
            docker build -t meu-website:v1.0 .
            docker tag meu-website:v1.0 355334485510.dkr.ecr.us-east-2.amazonaws.com/site-prod:v1.0
            docker push 355334485510.dkr.ecr.us-east-2.amazonaws.com/site-prod:v1.0

  job2:
     name: deploy_ec2
     env:
       INSTANCE_KEY: ${{ secrets.INSTANCE_KEY }}
       IP_PUBLICO: ${{ secrets.IP_PUBLICO }}
     runs-on: ubuntu-latest
     steps:
       - name: Deploy EC2 SSH
         run:
          echo "$INSTANCE_KEY" > chave.site.pem
          ssh -i chave-site-prod.pem ec2_user@IP_PUBLICO << EOF
          aws ecr get-login-password --region us-east-2 | docker login --username AWS --password-stdin 355334485510.dkr.ecr.us-east-2.amazonaws.com
          docker pull 355334485510.dkr.ecr.us-east-2.amazonaws.com/site-prod:v1.0
          docker run -d -p 80:80 --meu site 355334485510.dkr.ecr.us-east-2.amazonaws.com/site-prod:v1.0 355334485510.dkr.ecr.us-east-2.amazonaws.com/site-prod:v1.0
          docker ps
          EOF

          rm chave-site-prod.pem







